* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.plano {
    width: 200px;
    aspect-ratio: 1/1;
    background-color: #ffffff;
}