* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000;
}

.cartesian {
    width: 200px;
    aspect-ratio: 1/1;
    position: relative;
    transform-style: preserve-3d;
}

.planoX, .planoY {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #ffffff;
    position: absolute;
    border: 2px solid #df0000;
    transform-origin: 50% 50%;
    z-index: 1;
}

.planoX {
    transform: rotateX(90deg);
    background-color: #ff4;
}

.top {
    width: 100%;
    height: 100%;
    background-color: #00e3f2;
    transform-origin: 50% 50%;
    transform: rotateX(90deg) translateX(50%);
}