* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000;
    position: relative;
    transform-style: preserver-3d;
}

.planoX, .planoY {
    display: flex;
    width: 200px;
    aspect-ratio: 1/1;
    background-color: #ffffff;
    position: absolute;
    border: 2px solid #df0000;
    transform-origin: 50% 50%;
}

.planoX {
    transform: rotateX(80deg);
}